:root {
  --white: #ffffff;
  --black: #212121;
  --primary: #ffc107;
  --gray: #757575;
  --font-main: 3.8rem;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 16px; /*1 rem = 10px*/
  font-family: "Krub", sans-serif;
}

.title {
  text-align: center;
  font-size: var(--font-main);
  color: var(--primary);
}

.title span {
  font-size: 2rem;
}
